@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  background-image: url('/src/assets//images/hero/hero-img.jpg');
}

.about-section {
  background-image: url('/src/assets//images/AboutUs/bgAbout.jpg');
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.card-class.relative {
  position: relative;
  overflow: hidden;
}

.card-class.relative:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  transform-origin: center;
  transform: scale(1);
}

.card-class:hover:before {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.ad-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
}
