/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  background-image: url('/src/assets//images/hero/hero-img.jpg');
}

.about-section {
  background-image: url('/src/assets//images/AboutUs/bgAbout.jpg');
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}